= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  =f.hidden_field :published, :value => false
  =f.hidden_field :banner, :value => ""
  .row
    .span5
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'text_field'
    .span4
      .control-group
        = f.label :target_date, :class => 'control-label'
        .controls
          = f.text_field :target_date, :class => 'text_field datepicker'
  .row
    .span5
      .control-group
        = f.label :poster_photo, :class => 'control-label'
        .controls
          = f.file_field :poster_photo, :class => 'file_field'
    .span4
      .control-group
        = f.label :target_amount, :class => 'control-label'
        .controls
          .input-prepend.input-append
            %span.add-on PHP
            = f.number_field :target_amount, :class => 'text_field amount'
            %span.add-on .00
  .row
    .span8
      .control-group
        = f.label :summary, :class => 'control-label'
        .controls
          = f.text_area :summary, :class => 'text_field details', :rows => 2
      .control-group
        = f.label :details, :class => 'control-label'
        .controls
          = f.text_area :details, :class => 'text_area details', :rows => 6
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn'
